@model FileStorageMVC.EditViewModel

<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="~/Content/Site.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript">
        function getTags(){
            var myobject = {
                ValueA : 'Text A',
                ValueB : 'Text B',
                ValueC : 'Text C'};
            var select = document.getElementById("example-select");
            for(index in myobject) {
                select.options[select.options.length] = new Option(myobject[index], index);
            }
        }
    </script>
</head>

<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<p class="navbar-brand" href="#">WebSiteName</a>
			</div>
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">Home</a></li>
				<li><a href="~/Tag/AddTag">Add Tag</a></li>
				<li><a href="~/File/AddForm">Add File</a></li>
				<li><a href="~/File/Index">View Files</a></li>
			</ul>
		</div>
	</nav>
	<div class="container">
		<h1>File's Edit @Model.Name</h1>
	</div>
	<form>
		<div class="form-group">
			<select class="form-control" id="tags">
                @foreach(var tag in Model.SelectTags) {
                    <option>@tag</option>
                }

            </select>
		</div>
	</form>


</body>

</html>