<!DOCTYPE html>
<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <h1>File Home</h1>
        <p>
            <a href="~/Tag/Home">Add Tag</a>
            <a href="~/File/AddForm">Add File</a>
        </p>
    </body>
</html>