<!DOCTYPE html>
<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <h1>Add new tag</h1>
        <form action="~/Tag/Add">
            Tag: <input type="text" name="tag"></input>
            <input type="submit" value="Submit"></input>
        </form>
    </body>
</html>