<!DOCTYPE html>
<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <h1>Tag Home</h1>
        <p>
            <a href="~/File/Home">Add File</a>
            <a href="~/Tag/AddTag">Add Tag</a>
        </p>
    </body>
</html>